{% extends '@App/base.html.twig' %}

{% block content %}
    <h1>Корзина</h1>
{% if cart().quantity %}
    <p class="p" style="margin-bottom: 20px">Список выбранных Вами спортивных товаров:</p>
    <form method="post" id="basket" class="cart-form">
        <table cellpadding="2" cellspacing="0" class="cart">
            <tr class="header">
                <td style="width: 5%">
                    №
                </td>
                <td style="width: 40%">
                    Товар
                </td>
                <td style="width: 10%">
                    Цена
                </td>
                <td style="width: 10%">
                    Кол-во
                </td>
                <td style="width: 15%">
                    Стоимость
                </td>
                <td style="width: 10%">
                    Изменить
                </td>
                <td style="width: 10%">
                    Удалить
                </td>
            </tr>
            <tr>
{% for item in cart().items %}
                <td style="text-align: center">
                    {{ loop.index }}.
                </td>
                <td>
                    <a href="{{ path('productItem', {categoryName: productList[item.id].category.name, id: productList[item.id].id}) }}">{{ productList[item.id].title }}</a>
                </td>
                <td style="text-align: right">
                    {{ item.price|number_format(0, '.', ' ') }} р.
                </td>
                <td style="text-align: right">
                    <input type="hidden" value="{{ item.price }}" name="price[{{ item.id }}]"/>
                    <input type="hidden" value="{{ item.quantity }}" name="quantity[{{ item.id }}]"/>

                    <span class="quantity">{{ item.quantity }}</span>
                </td>
                <td style="text-align: right">
                    {{ (item.price * item.quantity)|number_format(0, '.', ' ') }} р.
                </td>
                <td style="text-align: center">
                    <a href="{{ path('cart_dec', {id: item.id}) }}" class="cart_dec" onclick="return decItem($(this))"><img src="{{ asset('images/minus.gif') }}" alt="Уменьшить" title="Уменьшить"/></a>
                    <a href="{{ path('cart_inc', {id: item.id}) }}" class="cart_inc" onclick="return incItem($(this))"><img src="{{ asset('images/plus.gif') }}" alt="Увеличить" title="Увеличить"/></a>
                </td>
                <td style="text-align: center">
                    <a href="{{ path('cart_delete', {id: item.id}) }}" onclick="return confirm('Вы уверены, что хотите удалить товар?')"><img src="{{ asset('images/delete.gif') }}" /></a>
                </td>
            </tr>
{% endfor %}
            <tr class="total">
                <td colspan="3" style="text-align: right">
                    <b>Итого:</b>
                </td>
                <td style="text-align: right">
                    <b>{{ cart().quantity }}</b>
                </td>
                <td style="text-align: right">
                    <b>{{ cart().sum|number_format(0, '.', ' ') }} р.</b>
                </td>
                <td colspan="3">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="7" align="left">
                    <input type="button" href="{{ path('cart_clear') }}" confirm="Вы уверены, что хотите очистить корзину?" value="Очистить корзину" class="button" />
                    <input type="button" href="{{ path('purchase') }}" value="Оформить заказ" style="float: right" class="button" />
                </td>
            </tr>
        </table>
    </form>
{% else %}
    <h2>Ваша корзина пуста.</h2>
{% endif %}

{% endblock %}