<p>
    Контактное лицо: {{ discount.person }}<br/>
    Email: {{ discount.email }}<br/>
    Телефон: {{ discount.phone }}<br/>
    Товар: {{ discount.product }}<br/>
    Количество: {{ discount.quantity }}
</p>
